@import url("./base.css");
@import url("./components.css");

/* Страницы */
@import url("./pages/home.css");
@import url("./pages/pomodoro.css");
@import url("./pages/profile.css");
@import url("./pages/click.css");
@import url("./pages/chat-ai.css");
