# Виртуальное окружение
.env
.env.* # env.py (alembic)
venv/

# Миграция Alembic
migrations/__pycache__/

# IDE
.vscode/
.idea/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# __pycache__/ Каталог, хранящий файлы .pyc, созданные интерпретатором при импорте модулей для повышения производительности.
# *.pyc Скомпилированный байт-код Python, который позволяет интерпретатору не перекомпилировать код при каждом запуске.
# *.pyo: (Устаревшее) Оптимизированный байт-код; в современных версиях Python (3.5+) объединен с .pyc.
# *.pyd: Динамическая библиотека (аналог .dll в Windows), используемая для C-расширений Python.