* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, Arial, sans-serif; background: #f6f7fb; }

.app {
  min-height: 100vh;
  padding: 16px 16px 86px; /* место под футер */
}

.screen { display: none; }
.screen.is-active { display: block; }

.bottom-nav{
  position: fixed;
  left: 0; right: 0; bottom: 0;
  height: 70px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 6px 8px;
  gap: 6px;
}

.nav-btn{
  border: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  color: #666;
  border-radius: 12px;
  padding: 6px 4px;
}

.nav-btn span{
  font-size: 11px;
  margin-top: 2px;
}

.nav-btn.is-active{
  background: #f1f2ff;
  color: #111;
}
